    {{ template "header.html" }}
    <h1>Cursos</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Numero</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
                {{ if eq .Numero 0 }}
                    <tr>
                        <td>{{ .Nome | toUpper }}</td>
                        <td>{{ .Numero }}</td>
                    </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
    {{ template "footer.html" }}

